*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    background-color: "#ffcf9d";
    border: none;
    font-size: 50px;
    color: #b0413e;
    
}
#reset{
    padding: 10px;
    font-size: 10px;
    border-radius: 15px;
    border: none;
    color: red;

}
#newgame{
    margin-left: 15px;
    padding: 10px;
    font-size: 10px;
    border-radius: 15px;
    border: none;
    color: red;

}

#msg{
    font-size: 30px;
    color: aqua;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}